.homeContainer {
  width: 100%;
  height: 100%;
  padding: 3.2rem 4.8rem;
  position: relative;
}
.homeContainer section {
  margin: 5rem 10rem 10rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeContainer::before {
  content: "";
  height: 20%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/public/pattern.png");
  background-size: cover;
  mix-blend-mode: color-burn;
  filter: opacity(0.4);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  container-name: hero;
  width: 100%;
  height: 50dvh;
  max-width: 150rem;
  height: calc(90dvh - 10rem);
  max-height: 65rem;
  position: relative;
}

.heroContainer::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background-image: url("/public/danilo-capece-NoVnXXmDNi0-unsplash.webp");
  background-size: cover;
  background-position: center;
}

.left {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
}
.left h1 {
  font-size: 10.2rem;
  font-size: 10.3cqi;
  z-index: 5;
}
.left span {
  color: white;
}
.left p {
  font-size: 1.4rem;
  font-size: 1.4cqi;
  line-height: 150%;
  width: 60%;
}

.heroBtnContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.heroBtnContainer a {
  font-size: 1.4cqi;
  color: black;
  transition: 400ms ease;
  text-decoration: none;
  position: relative;
}
.heroBtnContainer a:last-of-type:after {
  content: "";
  width: 0;
  height: 0;
  border: 2px #ff7d1a solid;
  position: absolute;
  left: -6px;
  top: -7px;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 300ms ease;
}
.heroBtnContainer a:last-of-type:hover::after {
  opacity: 1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
.heroBtnContainer .linkPlus {
  width: 3cqi;
  height: 3cqi;
  background-color: #ff7d1a;
  background-position: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-size: cover;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("/public/plusWhite.svg");
  transition: 400ms ease;
}
.heroBtnContainer a:active {
  scale: 0.9;
}

@container hero (width < 800px) {
  h1 {
    font-size: 8cqi;
  }
  p {
    font-size: 1.8cqi !important;
  }
}
.ctaContainer {
  width: 100%;
  container-type: inline-size;
  container-name: cta;
  max-width: 150rem;
  border-radius: 1rem;
  overflow: hidden;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.leftCta,
.rightCta {
  flex: 1;
  padding: 2rem;
}

.leftCta img {
  width: 100%;
}

.rightCta {
  gap: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
}
.rightCta h1 {
  font-size: 4.5cqi;
}
.rightCta span {
  color: #ff7d1a;
}
.rightCta p {
  font-size: 1.6cqi;
  line-height: 150%;
  width: 80%;
}

.rightCta::after {
  content: "";
  width: 100%;
  height: 100%;
  right: -40%;
  bottom: -20%;
  z-index: -1;
  position: absolute;
  background-image: url("/public/shoes/air1-redblack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  max-width: 150rem;
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  container-name: footer;
  margin: 15rem 10rem 5rem 10rem;
}
footer div {
  flex: 1;
  padding: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.socials svg {
  width: 3cqi;
  cursor: pointer;
}
.socials svg path {
  transition: 300ms ease;
}
.socials svg path:hover {
  fill: #ff7d1a;
}

.infoContainer {
  border-left: 2px solid hsl(220, 14%, 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.infoContainer h3 {
  font-size: 2.4cqi;
}
.infoContainer p {
  font-size: 1.4cqi;
  text-align: center;
}/*# sourceMappingURL=Home.module.css.map */