@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.homeContainer {
  width: 100%;
  // height: calc(100dvh - 15rem);
  // height: 100dvh;
  height: 100%;
  padding: 3.2rem 4.8rem;
  position: relative;
  display: grid;
  // @include flex(center, center);
  section {
    margin: 5rem 10rem 10rem 10rem;

    @include flex(center, center);
    flex-direction: column;
  }
}

.homeContainer::before {
  content: '';
  height: 20%;
  width: 10%;
  position: absolute;

  top: 0;
  left: 0;
  background-image: url('/public/pattern.png');
  background-size: cover;
  mix-blend-mode: color-burn;
  filter: opacity(0.4);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  container-name: hero;
  width: 100%;
  height: 50dvh;
  max-width: 150rem;
  height: calc(90dvh - 10rem);
  max-height: 65rem;

  position: relative;
}
.heroContainer::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background-image: url('/public/danilo-capece-NoVnXXmDNi0-unsplash.webp');
  // background-image: url('/public/donald-martinez-EGWyfNEz6Ho-unsplash.webp');
  background-size: cover;
  background-position: center;
}

.left {
  height: 100%;
  width: 80%;
  // background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;

  h1 {
    font-size: 10.2rem;
    font-size: 10.3cqi;
    z-index: 5;
    color: var(--font-color);
  }
  span {
    color: white;
  }

  p {
    font-size: 1.4rem;
    font-size: 1.4cqi;
    line-height: 150%;
    width: 60%;
    color: var(--font-color);
  }
}

.heroBtnContainer {
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    font-size: 1.4cqi;
    color: black;
    transition: 400ms ease;
    text-decoration: none;
    position: relative;
    color: var(--font-color);
  }
  a:last-of-type:after {
    content: '';
    width: 0;
    height: 0;
    // background-color: $primaryOrange;
    border: 2px $primaryOrange solid;
    // height: 100%;
    position: absolute;
    left: -6px;
    top: -7px;
    border-radius: 0.5rem;
    opacity: 0;
    transition: 300ms ease;
  }
  a:last-of-type:hover::after {
    opacity: 1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
  }

  .linkPlus {
    width: 3cqi;
    height: 3cqi;
    background-color: $primaryOrange;
    background-position: center;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-size: cover;
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url('/public/plusWhite.svg');
    transition: 400ms ease;
  }

  a:active {
    scale: 0.9;
  }
}

@container hero (width < 800px) {
  h1 {
    font-size: 8cqi;
  }

  p {
    font-size: 1.8cqi !important;
  }
}

// @media screen and (width > 1700px) {
//   .left {
//     h1 {
//       font-size: 8cqi;
//     }
//   }
// }

.ctaContainer {
  width: 100%;
  container-type: inline-size;
  container-name: cta;
  max-width: 150rem;
  border-radius: 1rem;
  overflow: hidden;
  overflow: hidden;

  padding: 3rem;
  @include flex(center, center);
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.1);
  box-shadow: var(--shadow);
}

.leftCta,
.rightCta {
  flex: 1;
  padding: 2rem;
}

.leftCta {
  img {
    width: 100%;
  }
}

.userMsg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 2rem;
  font-size: 1.8rem;
  background-color: rgb(1, 95, 203);
  border-radius: 1rem;
  color: white;
  animation: appear 500ms ease forwards, disappear 500ms ease forwards 4500ms;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

.rightCta {
  gap: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  h1 {
    font-size: 4.5cqi;
    color: var(--font-color);
  }

  span {
    color: $primaryOrange;
  }

  p {
    font-size: 1.4cqi;
    color: var(--font-color);

    line-height: 150%;
    width: 80%;
  }
}

.rightCta::after {
  content: '';
  width: 100%;
  height: 100%;
  right: -35%;
  bottom: -15%;
  z-index: -1;
  position: absolute;
  background-image: url('/public/shoes/air1-redblack.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  // width: 100%;
  max-width: 150rem;
  justify-self: center;
  width: 100%;
  padding: 4rem;
  @include flex(center, center);
  container-type: inline-size;
  container-name: footer;
  margin: 15rem 10rem 5rem 10rem;

  div {
    flex: 1;
    padding: 1rem;
  }
}
.socials {
  @include flex(center, center);
  gap: 2rem;

  svg {
    width: 3cqi;
    cursor: pointer;
  }

  svg path {
    fill: var(--font-color);
  }
  svg path {
    transition: 300ms ease;
  }
  svg path:hover {
    fill: $primaryOrange;
  }
}

.infoContainer {
  border-left: 2px solid $Grayishblue;
  @include flex(center, center);
  gap: 2rem;
  flex-direction: column;
  h3 {
    font-size: 2.4cqi;
    color: var(--font-color);
  }

  p {
    font-size: 1.4cqi;
    color: var(--font-color);

    text-align: center;
  }
}

@media screen and (width<500px) {
  .homeContainer {
    padding: 0;

    section {
      margin: 5rem 2rem;
    }

    footer {
      margin: 3.2rem 2rem;
      padding: 0 2rem;

      .infoContainer {
        h3 {
          font-size: 4.4cqi;
        }
        p {
          font-size: 2.4cqi;
        }
      }
    }

    .heroContainer {
      background: url('/public/danilo-capece-NoVnXXmDNi0-unsplash.webp');
      background-size: cover;
      height: 60dvh;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: var(--shadow);

      a {
        font-size: 2.8cqi;
        color: white;
      }

      .left {
        width: 100%;

        h1,
        span {
          color: white;
        }

        p {
          font-size: 2.8cqi !important;
          color: white;
        }
      }

      .linkPlus {
        width: 7cqi;
        height: 7cqi;
      }
    }
    .heroContainer::after {
      // content: none;
      background: rgba($color: #000000, $alpha: 0.6);
      z-index: -1;
      left: 0;
      width: 100%;
    }
  }

  .ctaContainer {
    padding: 0;
    flex-direction: column;
  }
  .leftCta {
    padding: 1rem;
    @include flex(center, center);
    img {
      width: 60%;
    }
  }
  .rightCta {
    padding: 1rem;
    h1 {
      font-size: 5.6cqi;
    }

    p {
      font-size: 2.8cqi;
    }
  }

  .rightCta::after {
    background-size: 70%;
  }

  .heroBtnContainer {
    .linkPlus {
      width: 5cqi;
      height: 5cqi;
    }
    a {
      font-size: 2.8cqi;
    }
  }
  .socials svg {
    width: 5cqi;
  }
}
