@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.mainContainer {
  max-width: 110rem;
  height: calc(100vh - 15rem);
  width: 100%;
  @include flex(center, center);
  gap: 4rem;
  container-type: inline-size;
  margin: 0 auto;
}

.imageCont {
  @include flex(center, center);
  gap: 1rem;
  flex: 1;
  width: 50%;
  flex-direction: column;

  position: relative;
}
.gallery {
  @include flex(center, center);
  gap: 1rem;
}
.infoCont {
  // flex: 1;
  @include flex(center, flex-start);
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 4rem;
  align-items: flex-start;

  h2 {
    font-size: 3cqi;
    color: $Verydarkblue;
  }

  .brand {
    color: $primaryOrange;
    font-size: 1.2cqi;
    font-weight: bold;
    align-self: flex-start;
  }
}

.titleCont,
.pricesCont {
  @include flex(center, center);
  flex-direction: column;
  gap: 1rem;
}
.pricesCont {
  position: relative;
  align-items: flex-start;
  gap: 0.5rem;
}

.currPrice {
  color: $Verydarkblue;
  font-size: 2.4rem;
  font-weight: bold;
}

.description {
  color: $Darkgrayishblue;
  font-size: 1.4cqi;
  line-height: 1.5;
}

.oldPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: $Darkgrayishblue;
  text-decoration: line-through;
}

.slideinblurredleft {
  -webkit-animation: slide-in-blurred-left 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 0.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-200px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-200px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-200px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-200px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.hamburger {
  display: none;
}

.active {
  opacity: 0.3;
}

.current {
  @include flex(center, center);
  gap: 1rem;
}

.discount {
  position: relative;
  // right: -5rem;
  // top: 3px;
  background-color: $primarypale;
  color: $primaryOrange;
  font-weight: 700;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  // height: 3rem;
  @include flex(center, center);
  align-items: center;
}

.imageCont {
  // padding: 10rem 7rem;
  gap: 2.5rem;
  // min-width: 45rem;
  height: 100%;
}

.mainPic {
  max-width: 100%;
  @include flex(center, center);
  // min-height: 100%;7
  height: 100%;
  text-align: center;
  flex: 1;
  img {
    width: 100%;
    border-radius: 1rem;
    transition: 300ms ease;
    cursor: pointer;
    object-fit: cover;
  }
}

@keyframes overlay {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 0.7;
  }
}

.size {
  padding: 1rem;
  border: none;
  background-color: $Lightgrayishblue;
  border-radius: 1rem;
  height: 4rem;
  font-weight: bold;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  background-color: black;
  z-index: 40;
  transition: 300ms;
  // animation: overlay 300ms ease;
}
.left,
.right {
  display: block;
  z-index: 10;
}
.left,
.right {
  height: 3.5rem;
  width: 3.5rem;
  @include flex(center, center);

  z-index: 44;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: $Lightgrayishblue;
  border: 4px solid $primarypale;
  img {
    width: 70%;
    height: 70%;
  }
}
.right {
  left: initial;
  right: 3rem;
}

.modal {
  // transform: scale(0.7);
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  // display: ;
}

.imageAnim {
  animation: image 300ms ease-out forwards;
}
.imageAnimL {
  animation: imageL 300ms ease-out forwards;
}

.modal .mainPic,
.modal .gallery {
  width: 80%;
}
.closeIcon {
  position: absolute;
  filter: invert(0.8);
  top: 1%;
  cursor: pointer;
  right: 10%;
}
.add {
  @include flex(center, center);
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 2rem;

  button {
    flex: 1;
  }
}

@keyframes image {
  from {
    opacity: 0.3;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes imageL {
  from {
    opacity: 0.3;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.gallery {
  @include flex(space-between, center);
  width: 100%;
  max-width: 100rem;
  justify-content: space-between;
  img {
    transition: 300ms;
    border-radius: 1rem;
    max-width: 20%;
    cursor: pointer;
  }
}

.buttons,
.quantity {
  @include flex(center, center);
}
.buttons {
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.quantity {
  height: 4rem;
  background-color: $Lightgrayishblue;
  border-radius: 1rem;
  button {
    height: 4rem;
    width: 4rem;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  #plus {
    margin-top: 5px;
  }
  p {
    font-size: 1.4rem;
    padding: 0rem 2rem;
    font-weight: bold;
    text-align: center;
    width: 5rem;
    @include flex(center, center);
    justify-content: center;
    // background-color: white;
  }
}

.productTitle {
  @include flex(center, center);
  flex-direction: column;
  width: fit-content;

  span {
    margin-bottom: 0;
  }
}
.addtocart {
  @include flex(center, center);
  height: 4rem;
  align-items: center;
  flex: 1;

  gap: 1rem;
  transition: 300ms ease;
  font-size: 1.4cqi;
  background-color: $primaryOrange;
  box-shadow: 0 15px 10px rgb(255, 125, 26, 0.1);
  border-radius: 1rem;
  cursor: pointer;
  justify-content: center;
  border: none;
  color: white;
  font-weight: bold;
  img {
    max-width: 1.4rem;
    filter: invert(100%) sepia(83%) saturate(0%) hue-rotate(244deg)
      brightness(108%) contrast(303%);
    margin-bottom: 1px;
  }
}
.addtocart:hover {
  background-color: #e47018;
}
.addtocart:active {
  transform: scale(0.98);
}

@media (max-width: 480px) {
  .mainContainer {
    // flex-direction: column;
    height: calc(100dvh - 11rem);
    padding: 0;
    max-height: 100vh;
    // overflow: hidden;
    display: flex;
    gap: 0;
    z-index: 0;
    flex-direction: column;
    justify-content: normal;
    grid-template-rows: 1fr 3fr;
    position: relative;
  }

  .imageCont {
    height: 30%;
    width: 100%;
    min-width: 0;
  }
  // .mainPic,
  // .gallery {
  //   width: 80%;
  // }

  // .imageCont {
  //   padding: 5rem;
  //   height: 30%;
  // }

  // .mainPic {
  //   // min-height: auto;
  //   display: flex;
  //   height: 100%;
  //   width: 100%;
  //   // max-width: 100%;

  //   img {
  //     border-radius: 0;
  //     object-fit: cover;
  //   }
  // }

  .size {
    width: 40%;
    text-align: center;
    font-size: 1.4rem;
    height: 5rem;
  }

  .infoCont {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
    container-type: inline-size;
  }

  .titleCont::-webkit-scrollbar {
    // width: 100%;
    width: 1rem;
    height: 2px;
  }
  .titleCont::-webkit-scrollbar-thumb {
    background-color: $primaryOrange;
  }

  .titleCont {
    overflow: auto;
    overflow-wrap: anywhere;
    justify-content: normal;
    align-items: baseline;
    max-height: 6rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 3px;
    h2 {
      font-size: 7cqi;
    }
    span {
      font-size: 4cqi;
    }
  }
  .description {
    font-size: 4.5cqi;
    max-height: 15rem;
    overflow: auto;

    text-align: justify;
    padding-right: 1rem;
  }

  .description::-webkit-scrollbar {
    width: 2px;
  }
  .description::-webkit-scrollbar-thumb {
    background-color: $primaryOrange;
  }

  .buttons {
    flex-direction: column;
  }
  .gallery {
    display: none;
  }

  .gallery img {
    max-width: 22%;
  }
  .addtocart {
    font-size: 2.2rem;
    padding: 1rem;
    width: 100%;

    img {
      max-width: 1.8rem;
    }
  }
  .infoCont:last-child {
    gap: 2.4rem;
  }
  .quantity {
    height: 5rem;
    width: 5rem;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;

    p {
      font-size: 1.8rem;
    }
  }
  .pricesCont {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .add {
    width: 100%;
    button {
      height: 5rem;
    }
    .size {
      font-size: 2rem;
    }
  }

  .left,
  .right {
    display: flex;
    z-index: 10;
  }
  .left,
  .right {
    top: 50%;
    left: 3rem;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .right {
    left: initial;
    right: 3rem;
  }
}
