@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.list {
  a {
    font-size: 18px;
  }
  a:visited,
  a:link {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.productsContainer {
  height: calc(100dvh - 10rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  @include flex(center, center);
  position: relative;
}

.mainContainer {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(20rem, 20%) 1fr;
  padding: 5rem 10rem;
  container-type: inline-size;
  max-width: 170rem;
  gap: 5rem;
  height: 90%;
}

.sideBar {
  height: fit-content;
  border: 2px solid $primaryOrange;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filterMobileBtn,
.closeFilterMobile {
  display: none;
}

.cardsContainer {
  height: 100%;
  margin: 2.4rem;
  gap: 1rem;
  overflow: auto;
  @include flex(space-evenly, center);
  flex-wrap: wrap;
}
.cardsContainer::-webkit-scrollbar {
  width: 4px;
}
.cardsContainer::-webkit-scrollbar-thumb {
  background-color: $primaryOrange;
  visibility: hidden;
  transition: all 500ms;
}
.cardsContainer:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sortContainer {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  select {
    padding: 1rem;
    font-size: 1.4cqi;
    background-color: var(--backgroundColor);
    width: 100%;
    border: 1px solid $primaryOrange;
    color: var(--font-color);
    border-radius: 1rem;
    animation: background-color 500ms ease;
  }
  select:focus {
    outline: 2px solid $primaryOrange;
  }
}

.filterContainer {
  // height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.2rem;
  h3 {
    color: var(--font-color);

    font-size: 1.6cqi;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.error {
  width: 100%;
  font-size: 1.8rem;
  color: var(--font-color);
  text-align: center;
  background-color: red;
}

.loading {
  width: 100%;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  background-color: lightseagreen;
}
.colorFilterContainer,
.brandFilterContainer {
  width: 100%;
  @include flex(space-evenly, initial);
  flex-direction: column;
}

.colorFilter,
.brandFilter {
  @include flex(space-between, center);
  width: 100%;
  margin: 1rem;

  label {
    font-size: 1.4rem;
    font-size: 1.4cqi;
    width: 50%;
    color: var(--font-color);
  }

  input {
    color: var(--font-color);

    appearance: none;
    width: 1.8rem;
    width: 1.8cqi;
    max-width: 2.8rem;
    height: 1.8rem;
    height: 1.8cqi;
    margin: 0 auto;

    max-height: 2.8rem;
    background-color: transparent;
    transition: 300ms ease;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--font-color);
  }
}
.colorFilter input:checked,
.brandFilter input:checked {
  background-color: $primaryOrange;
  color: black;
  accent-color: $primaryOrange;
}
.colorFilter input:checked::before,
.brandFilter input:checked::before {
  content: '\2713';
  @include flex(center, center);
  text-align: center;
  color: white;
}

@media screen and (width>1800px) {
  .mainContainer {
    grid-template-columns: minmax(20rem, 15%) 1fr;

    // select {
    //   font-size: 2.4rem;
    // }
    // h3 {
    //   font-size: 2.8rem;
    // }
    // label {
    //   font-size: 1.8rem;
    // }
  }
}

@media screen and (width <500px) {
  .productsContainer {
    height: calc(100dvh - 7rem);
  }
  .mainContainer {
    padding: 1rem 1.4rem;
    grid-template-columns: none;
    height: 100%;
    grid-template-rows: 20% 1fr;
    gap: 0;

    select,
    label {
      font-size: 4.4cqi;
    }
    h3 {
      font-size: 4.6cqi;
    }
    input {
      width: 4.8cqi;
      height: 4.8cqi;
    }
    .sideBar {
      height: 100%;
      gap: 1rem;
      border: none;
    }

    .filterContainer {
      justify-content: initial;
      opacity: 0;
      // transform: scale(0);
      overflow-y: auto;
      overflow-x: hidden;
      padding: 1rem;
      position: fixed;
      background-color: $primaryOrange;
      z-index: 50;
      width: 90%;
      opacity: 1;
      left: 50%;
      top: 15%;
      height: 80%;
      transform: translateX(-50%) scale(0);
      transform-origin: top;
      border-radius: 1rem;
      transition: 500ms ease;
      border: 1px solid var(--secondaryColor);
    }
    // .filterContainer {
    //   overflow-y: scroll;
    //   height: auto;
    //   border-radius: 1rem;
    // }

    .sortContainer {
      height: auto;
    }

    .filterContainer::-webkit-scrollbar {
      width: 10px;
    }
    .filterContainer::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      border-right: 5px solid $primaryOrange;
      border-top: 6px solid $primaryOrange;
      border-bottom: 10px solid $primaryOrange;
      background-color: white;
    }
    .filterMobileBtn {
      display: block;
      font-size: 4.4cqi;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid $primaryOrange;
      background-color: var(--backgroundColor);
      color: var(--font-color);
    }

    .filterContainerMobile {
      transform: translateX(-50%) scale(1);
      transform-origin: top;
      transition: 500ms ease;
    }
    .brandFilter input:checked,
    .colorFilter input:checked {
      background-color: var(--backgroundColor);
      color: white;
      accent-color: black;
    }
    .colorFilter input:checked::before,
    .brandFilter input:checked::before {
      content: '\2713';
      @include flex(center, center);
      text-align: center;
      color: var(--font-color);
    }
    .closeFilterMobile {
      display: block;
      position: absolute;
      right: 1rem;
      font-size: 2rem;
    }

    // .openFilterMobile {
    //   opacity: 1;
    //   transform: scale(1);
    //   transform-origin: top;
    // }
  }
}

@media screen and (width <920px) and (orientation: landscape) {
  .productsContainer {
    height: calc(100dvh - 6rem);
  }

  .cardsContainer {
    margin: 0;
  }
  .mainContainer {
    padding: 1rem;
  }
  .filterMobileBtn,
  .closeFilterMobile {
    display: none;
  }

  .sideBar {
    overflow-y: scroll;
    height: auto;
    border-radius: 1rem;
  }

  .sideBar::-webkit-scrollbar {
    width: 10px;
  }
  .sideBar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    border-right: 8px solid var(--backgroundColor);
    border-top: 6px solid var(--backgroundColor);
    border-bottom: 10px solid var(--backgroundColor);
    background-color: $primaryOrange;
  }
  .sortContainer select {
    font-size: 1.8cqi;
  }

  .colorFilter,
  .brandFilter {
    label {
      font-size: 1.8cqi;
    }
  }
}
