@charset "UTF-8";
.list a {
  font-size: 18px;
}
.list a:visited,
.list a:link {
  color: black;
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
}

.productsContainer {
  height: calc(100dvh - 10rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainContainer {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(20rem, 20%) 1fr;
  padding: 5rem 10rem;
  container-type: inline-size;
  max-width: 170rem;
  gap: 5rem;
  height: 90%;
}

.sideBar {
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #ff7d1a;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cardsContainer {
  height: 100%;
  margin: 2.4rem;
  gap: 1rem;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cardsContainer::-webkit-scrollbar {
  width: 4px;
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: #ff7d1a;
  visibility: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.cardsContainer:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sortContainer {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sortContainer select {
  padding: 1rem;
  font-size: 1.4cqi;
  background-color: var(--backgroundColor);
  width: 100%;
  border: 1px solid #ff7d1a;
  color: var(--font-color);
  border-radius: 1rem;
  animation: background-color 500ms ease;
}
.sortContainer select:focus {
  outline: 2px solid #ff7d1a;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.2rem;
}
.filterContainer h3 {
  color: var(--font-color);
  font-size: 1.6cqi;
  text-align: center;
  margin-bottom: 1rem;
}

.error {
  width: 100%;
  font-size: 1.8rem;
  color: var(--font-color);
  text-align: center;
  background-color: red;
}

.loading {
  width: 100%;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  background-color: lightseagreen;
}

.colorFilterContainer,
.brandFilterContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: initial;
  flex-direction: column;
}

.colorFilter,
.brandFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
.colorFilter label,
.brandFilter label {
  font-size: 1.4rem;
  font-size: 1.4cqi;
  width: 50%;
  color: var(--font-color);
}
.colorFilter input,
.brandFilter input {
  color: var(--font-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.8rem;
  width: 1.8cqi;
  max-width: 2.8rem;
  height: 1.8rem;
  height: 1.8cqi;
  margin: 0 auto;
  max-height: 2.8rem;
  background-color: transparent;
  transition: 300ms ease;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--font-color);
}

.colorFilter input:checked,
.brandFilter input:checked {
  background-color: #ff7d1a;
  color: black;
  accent-color: #ff7d1a;
}

.colorFilter input:checked::before,
.brandFilter input:checked::before {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

@media screen and (width > 1800px) {
  .mainContainer {
    grid-template-columns: minmax(20rem, 15%) 1fr;
  }
}
@media screen and (width < 500px) {
  .productsContainer {
    height: calc(100dvh - 8rem);
  }
  .mainContainer {
    padding: 1rem 1.4rem;
    grid-template-columns: none;
    height: 100%;
    grid-template-rows: 40% 1fr;
    gap: 0;
  }
  .mainContainer select,
  .mainContainer label {
    font-size: 4.4cqi;
  }
  .mainContainer h3 {
    font-size: 4.6cqi;
  }
  .mainContainer input {
    width: 4.8cqi;
    height: 4.8cqi;
  }
  .mainContainer .sideBar {
    height: 100%;
  }
  .mainContainer .filterContainer {
    justify-content: initial;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .mainContainer .filterContainer {
    overflow-y: scroll;
    height: auto;
    border-radius: 1rem;
  }
  .mainContainer .filterContainer::-webkit-scrollbar {
    width: 10px;
  }
  .mainContainer .filterContainer::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    border-right: 5px solid var(--backgroundColor);
    border-top: 6px solid var(--backgroundColor);
    border-bottom: 10px solid var(--backgroundColor);
    background-color: #ff7d1a;
  }
}
@media screen and (width < 920px) and (orientation: landscape) {
  .mainContainer {
    padding: 1rem;
  }
  .sideBar {
    overflow-y: scroll;
    height: auto;
    border-radius: 1rem;
  }
  .sideBar::-webkit-scrollbar {
    width: 10px;
  }
  .sideBar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    border-right: 8px solid var(--backgroundColor);
    border-top: 6px solid var(--backgroundColor);
    border-bottom: 10px solid var(--backgroundColor);
    background-color: #ff7d1a;
  }
}/*# sourceMappingURL=Products.module.css.map */