@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.form {
  margin: 0 auto;
  max-width: 50rem;
  max-height: 50rem;
  @include flex(center, center);
  width: 50%;
  flex-direction: column;
  gap: 2rem;
  align-self: baseline;
  padding: 1rem;

  label {
    font-size: 1.8rem;
    color: var(--font-color);
  }

  input {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    background-color: var(--inputcolor);
    width: 100%;
    color: var(--font-color);
    padding: 0.8rem 1rem;
    border: 1px solid $primaryOrange;
  }

  input::placeholder {
    color: var(--placeholdercolor);
  }

  input:focus:invalid {
    outline: 1px solid red;
  }

  button {
    font-size: 1.6rem;
    padding: 1rem 1.4rem;
    background-color: $primaryOrange;
    color: $Lightgrayishblue;
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1.4rem;
    transition: 400ms ease;
  }

  button:hover {
    background-color: #e47018;
  }
  button:active {
    scale: 0.95;
  }
}

.fieldContainer {
  @include flex(center, flex-start);
  gap: 0.2rem;
  flex-direction: column;
  position: relative;
  width: 100%;
  // max-width: 45rem;

  .error {
    font-size: 1.3rem;
    color: red;
    width: 100%;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media screen and (width<500px) {
  .form {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: initial;
  }

  .form::-webkit-scrollbar {
    width: 8px;
    left: 5rem;
  }
  .form::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    border-right: 5px solid var(--backgroundColor);
    border-top: 15px solid var(--backgroundColor);
    border-bottom: 10px solid var(--backgroundColor);
    background-color: $primaryOrange;
    visibility: visible;
  }

  .fieldContainer .error {
    font-size: 1rem;
  }
}
