@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.loginContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  justify-content: initial;
  width: 100%;
  h1 {
    text-align: center;
  }
}

.login {

  @include flex(center, center);
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  align-self: baseline;

  label {
    font-size: 1.8rem;
    animation: appear 400ms ease forwards;
  }

  input {
    font-size: 1.6rem;
    border-radius: 0.5rem;
    width: 100%;
    color: var(--font-color);
    background-color: var(--inputcolor);
    animation: appear 400ms ease forwards;
    padding: 0.8rem 1rem;
    border: 1px solid $primaryOrange;
  }

  input::placeholder {
    color: $Grayishblue;
  }

  input:focus:invalid {
    outline: 1px solid red;
  }
}

.btns {
  @include flex(center, center);
  width: 100%;
  gap: 2rem;

  button {
    flex: 1;
  }
}

.loginBtn,
.loginBtns {
  @include btn;
}

.loginBtn:hover,
.loginBtns:hover {
  background-color: #e47018;
}
.loginBtn:active,
.loginBtns:active {
  scale: 0.95;
}

.fieldContainer {
  @include flex(center, flex-start);
  gap: 0.2rem;
  flex-direction: column;
  position: relative;
  width: 100%;
  // max-width: 45rem;

  .error {
    font-size: 1.3rem;
    color: red;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
}
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.googleBtn {
  width: 50%;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  overflow: hidden;
  height: 4rem;
  box-shadow: var(--shadow);
  justify-self: center;
}

.googlebtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: $google-blue;
  border-radius: 2px;
  transition: 300ms;
  .google_icon_wrapper {
    width: 4rem;
    height: 100%;
    border-radius: 2px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google_icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .btn_text {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    flex: 1;
    @include flex(center, center);
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.loginSwitch {
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: none;
  align-items: center;

  label {
    font-size: 2rem;
    justify-self: end;
  }

  label:last-of-type {
    justify-self: baseline;
  }

  input {
    appearance: none;
    width: 5rem;
    position: relative;
    justify-self: center;
    height: 2.5rem;
    padding: 0.6rem 1rem;

    cursor: pointer;
    flex: 0.5;
  }
}

.loginSwitch input::before {
  width: 4.8rem;
  content: '';
  border: 1px solid #ff7d1a99;
  border-radius: 1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  gap: 1rem;

  transition: 400ms ease;
}

.loginSwitch input::after {
  content: '';
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  left: 2.5px;
  top: 2.5px;
  border-radius: 50%;
  background-color: $primaryOrange;
  transition: 400ms ease;
}

.loginSwitch input:checked::before {
  background-color: $primaryOrange;
}
.loginSwitch input:checked::after {
  background-color: white;
  left: 50%;
}

@keyframes appear {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}


@media screen and (width <500px) {
  .loginContainer {
    justify-content: initial;
    width: 100%;
  }
  .login {
    width: 100%;
  }
}
