@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.loginContainer {
  width: 35rem;

  flex-direction: column;
  position: absolute;
  top: calc(10rem - 0.5rem);
  right: 0;
  gap: 2rem;
  z-index: 2;
  background-color: var(--backgroundColor);
  @include flex(flex-start, center);
  box-shadow: 0px 30px 35px 2px rgb(0 0 0 / 10%);
  padding: 1rem 2rem;
  transform: scale(0);
  border-radius: 1rem;
  height: 35rem;
  opacity: 0.2;
  color: var(--font-color);
  transition: 300ms ease-in-out;
  transform-origin: top;
  container-type: inline-size;
  container-name: login;
}

.openLogin {
  opacity: 1;
  transform: scale(1);
  transform-origin: top;
}

.img {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid $primaryOrange;
  align-items: center;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (width < 500px) {
  .loginContainer {
    width: calc(100% - 1rem);
    box-shadow: var(--shadow);
    top: calc(100% + 0.4rem);
    right: 5px;
    border-radius: 1rem;

    span {
      font-size: 1.4rem;
    }
  }
}

@media screen and (width <920px) and (orientation: landscape) {
  .loginContainer {
    top: 6rem;
    height: 30rem;
  }
}
