@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.loginContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  justify-content: initial;
  width: 100%;
}
.loginContainer h1 {
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  align-self: baseline;
}
.login label {
  font-size: 1.8rem;
  animation: appear 400ms ease forwards;
}
.login input {
  font-size: 1.4rem;
  border-radius: 0.5rem;
  width: 100%;
  animation: appear 400ms ease forwards;
  padding: 0.8rem 1rem;
  border: 1px solid #ff7d1a;
}
.login input::-moz-placeholder {
  color: hsl(220, 14%, 75%);
}
.login input::placeholder {
  color: hsl(220, 14%, 75%);
}
.login input:focus:invalid {
  outline: 1px solid red;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.btns button {
  flex: 1;
}

.loginBtn,
.loginBtns {
  font-size: 1.6rem;
  background-color: #ff7d1a;
  color: hsl(223, 64%, 98%);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 4rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 40rem;
  border-radius: 0.5rem;
  transition: 400ms ease;
}

.loginBtn:hover,
.loginBtns:hover {
  background-color: #e47018;
}

.loginBtn:active,
.loginBtns:active {
  scale: 0.95;
}

.fieldContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.fieldContainer .error {
  font-size: 1.3rem;
  color: red;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.googleBtn {
  width: 50%;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  overflow: hidden;
  height: 4rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  justify-self: center;
}

.googlebtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #4285f4;
  border-radius: 2px;
  transition: 300ms;
}
.googlebtn .google_icon_wrapper {
  width: 4rem;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.googlebtn .google_icon {
  width: 1.8rem;
  height: 1.8rem;
}
.googlebtn .btn_text {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.googlebtn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.googlebtn:active {
  background: #1669f2;
}

.loginSwitch {
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: none;
  align-items: center;
}
.loginSwitch label {
  font-size: 2rem;
  justify-self: end;
}
.loginSwitch label:last-of-type {
  justify-self: baseline;
}
.loginSwitch input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 5rem;
  position: relative;
  justify-self: center;
  height: 2.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  flex: 0.5;
}

.loginSwitch input::before {
  width: 4.8rem;
  content: "";
  border: 1px solid rgba(255, 125, 26, 0.6);
  border-radius: 1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  gap: 1rem;
  transition: 400ms ease;
}

.loginSwitch input::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  left: 2.5px;
  top: 2.5px;
  border-radius: 50%;
  background-color: #ff7d1a;
  transition: 400ms ease;
}

.loginSwitch input:checked::before {
  background-color: #ff7d1a;
}

.loginSwitch input:checked::after {
  background-color: white;
  left: 50%;
}

@keyframes appear {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@media screen and (width < 500px) {
  .loginContainer {
    justify-content: initial;
    width: 100%;
  }
  .login {
    width: 100%;
  }
  .login .btns {
    flex-direction: column;
  }
  .login .googleBtn {
    width: 100%;
    height: 4rem;
    flex: initial;
  }
}/*# sourceMappingURL=Login.module.css.map */