@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

nav {
  @include flex(center, center);
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 3.2em;
  height: 10rem;
  container-type: inline-size;
  justify-content: space-between;
  width: 100%;
  transition: 300ms;
  border-bottom: 3px solid var(--accentgray);

  .darkModeBtn {
    position: absolute;
    left: 2%;
    input {
      appearance: none;
      box-shadow: var(--shadow);
      width: 5rem;
      position: relative;
      height: 2.5rem;
      border-radius: 1rem;
      background-color: var(--backgroundColor);
    }
  }

  .darkModeBtn input::before {
    width: 2.2rem;
    content: '';
    background-color: white;
    position: absolute;
    background: url('/public/sun-svgrepo-com.svg');

    background-size: cover;
    height: 2.2rem;
    border-radius: 50%;
    left: 1px;
    transition: 400ms background ease;
    top: 2px;
  }
  .darkModeBtn input:checked::before {
    background: url('/public/moon-svgrepo-com.svg');
    filter: invert(1);
    background-size: cover;

    left: 50%;
  }

  .logo {
    justify-self: flex-start;
    margin-right: 8rem;
    width: 20rem;
  }
  .navLeft {
    @include flex(center, center);
    margin: 0 auto;
    gap: 3.2rem;
  }

  .navRight {
    @include flex(center, center);
    gap: 2rem;

    li {
      padding: 0;
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
    .cart {
      display: flex;
      position: relative;
    }
    .incart {
      position: absolute;
      right: -5px;
      top: -5px;
      background-color: #e47018;
      padding: 0 0.5rem;
      border-radius: 1rem;
      color: white;
    }

    .cartIcon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
    .cartIcon:hover {
      filter: invert(42%) sepia(96%) saturate(649%) hue-rotate(350deg)
        brightness(97%) contrast(93%);
    }
    .profilepic {
      border-radius: 50%;
    }

    .profilepic:hover {
      border: 1.5px solid $primaryOrange;
    }
  }

  li {
    list-style: none;
    height: 10rem;
    cursor: pointer;
    @include flex(center, center);
    padding: 0 2rem;
  }

  li:hover {
    // border-bottom: $primaryOrange 3px solid;
    box-shadow: inset 0px -3px 0px $primaryOrange;
  }

  .link {
    text-decoration: none;
    color: var(--navfontcolor);
    font-size: 1.4rem;
    font-size: 1.2cqi;
    transition: 300ms ease;
  }
  .hamburger {
    display: none;
  }
}
.linkActive {
  color: $primaryOrange !important;
}

.menu {
  display: none;
}

.shakeTop {
  -webkit-animation: shake-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  filter: invert(42%) sepia(96%) saturate(649%) hue-rotate(350deg)
    brightness(97%) contrast(93%);
}

.profileTab {
  position: relative;
}
.ordersTab {
  position: absolute;
  background-color: var(--backgroundColor);
  top: 98%;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
  left: 0;
  // border: 1px solid $Lightgrayishblue;
  box-shadow: 0 3px 5px rgba(205, 216, 244, 0.535);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.profileTab:hover {
  box-shadow: none;
  .ordersTab {
    visibility: visible;
    opacity: 1;
  }
}

.ordersTab:hover {
  // box-shadow: inset 0px -3px 0px $primaryOrange;
  background-color: $primaryOrange;

  a {
    color: white;
  }
}

.ordersTab:has(.linkActive) {
  background-color: $primaryOrange;
  .linkActive {
    color: white !important;
  }
}

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@media (max-width: 480px), (width<920px) and (orientation: landscape) {
  body {
    width: 100vw;
    margin: 0;
  }

  nav {
    // flex-direction: column;
    height: 6rem;
    padding: 1.2rem;
    // display: none;
  }
  .darkModeBtn {
    display: none;
  }

  .darkModeBtnMobile {
    width: 100%;
    text-align: center;
    input {
      appearance: none;
      box-shadow: var(--shadow);
      width: 5rem;
      position: relative;
      height: 2.5rem;
      border-radius: 1rem;
      background-color: var(--backgroundColor);
    }
  }

  .darkModeBtnMobile input::before {
    width: 2.2rem;
    content: '';
    background-color: white;
    position: absolute;
    background: url('/public/sun-svgrepo-com.svg');

    background-size: cover;
    height: 2.2rem;
    border-radius: 50%;
    left: 1px;
    transition: 400ms background ease;
    top: 2px;
  }
  .darkModeBtnMobile input:checked::before {
    background: url('/public/moon-svgrepo-com.svg');
    filter: invert(1);
    background-size: cover;

    left: 50%;
  }

  nav .navLeft {
    // flex-direction: column;
    width: 100%;
    // display: none;
  }
  nav .hamburger {
    display: block;
    width: 4rem;
    height: 4rem;
  }
  nav .hamburger path {
    stroke: var(--font-color);
  }

  .closemenu {
    align-self: baseline;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;

    path {
      stroke: var(--font-color);
    }
  }

  nav .logo {
    margin: 0;
    margin-top: 0.5rem;
  }
  nav li {
    display: none;
    width: 100%;
  }
  nav .navRight {
    width: 100%;
    justify-content: end;
  }
  .mobileProfileLinks {
    display: flex;
    justify-content: space-between;
  }

  .mobileOrdersTab {
    margin-right: 1rem;
  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.368);
    left: 0;
    z-index: 50;
    top: 0;
    visibility: hidden;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: 300ms ease;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }

  .menu {
    width: 50%;
    background-color: var(--backgroundColor);
    height: 100vh;
    transition: 300ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    align-items: center;
    padding: 2rem 0;
    z-index: 50;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.1);
    // justify-content: space-evenly;
    // justify-content: center;
    gap: 5rem;

    a {
      font-size: 1.8rem;
      align-self: baseline;
      margin-left: 1rem;
      font-weight: bold;
      text-decoration: none;
      color: var(--font-color);
    }
  }

  .openMenu {
    transform: translateX(0);
  }
  .navLeft {
    display: none;
  }

  body {
    touch-action: pan-y;
  }

  .navRight .cart {
    width: 3rem !important;
    height: 3rem !important;
    margin-top: 1rem;
  }
}

@media screen and (width > 1800px) {
  nav {
    .link {
      font-size: 1cqi;
    }
    .navRight {
      .cartIcon {
        width: 1.2cqi;
        height: 1.2cqi;
      }
      .incart {
        padding: 0.4rem 0.6rem;
      }

      img {
        width: 4.5rem;
      }
    }
  }
}
@media screen and (width <920px) and (orientation: landscape) {
  .menu {
    flex-direction: column;
    width: 100%;
    align-items: start;

    a {
      font-size: 2.8rem;
    }
  }

  nav .navLeft {
    justify-content: start;
  }
  .closemenu {
    width: 5%;
  }

  .mobileProfileLinks {
    flex-direction: column;
    gap: 2rem;
  }

  .mobilleProfileTab {
    position: relative;
  }

  .mobileLinks {
    margin-left: 1rem;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
}
