nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 3.2em;
  height: 10rem;
  container-type: inline-size;
  justify-content: space-between;
  transition: 300ms;
  border-bottom: 3px solid hsl(223, 64%, 98%);
}
nav .logo {
  justify-self: flex-start;
  margin-right: 8rem;
  height: 100%;
}
nav .navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2.4rem;
}
nav .navRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .navRight img {
  width: 3.5rem;
  cursor: pointer;
}
nav .navRight .cart {
  display: flex;
  position: relative;
}
nav .navRight .incart {
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: #e47018;
  padding: 0 0.5rem;
  border-radius: 1rem;
  color: white;
}
nav .navRight .cartIcon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
nav .navRight .cartIcon:hover {
  filter: invert(42%) sepia(96%) saturate(649%) hue-rotate(350deg) brightness(97%) contrast(93%);
}
nav .navRight .profilepic {
  border-radius: 50%;
}
nav .navRight .profilepic:hover {
  border: 1.5px solid #ff7d1a;
}
nav li {
  list-style: none;
  height: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li:hover {
  box-shadow: inset 0px -3px 0px #ff7d1a;
}
nav .link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-size: 1.4rem;
  font-size: 1.2cqi;
  transition: 300ms ease;
}
nav .hamburger {
  display: none;
}

.linkActive {
  color: #ff7d1a !important;
}

.menu {
  display: none;
}

.shakeTop {
  animation: shake-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  filter: invert(42%) sepia(96%) saturate(649%) hue-rotate(350deg) brightness(97%) contrast(93%);
}
@keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@media (max-width: 480px) {
  body {
    width: 100vw;
    margin: 0;
  }
  nav {
    height: 8rem;
    padding: 1.2rem;
  }
  nav .navLeft {
    width: 100%;
  }
  nav .hamburger {
    display: block;
  }
  .closemenu {
    align-self: baseline;
    margin-left: 1rem;
    width: 20%;
  }
  nav .logo {
    margin: 0;
  }
  nav li {
    display: none;
    width: 100%;
  }
  nav .navRight {
    width: 100%;
    justify-content: end;
  }
  .menu {
    width: 50%;
    background-color: white;
    height: 100vh;
    transition: 300ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    align-items: center;
    padding: 2rem 0;
    z-index: 50;
    gap: 5rem;
  }
  .menu a {
    font-size: 1.8rem;
    align-self: baseline;
    margin-left: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .openMenu {
    transform: translateX(0);
  }
  .navLeft {
    display: none;
  }
  body {
    touch-action: pan-y;
  }
  .navRight .cart {
    width: 3rem !important;
    height: 3rem !important;
  }
}
@media screen and (width > 1800px) {
  nav .link {
    font-size: 1cqi;
  }
}/*# sourceMappingURL=Nav.module.css.map */