@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.ordersContainer {
  width: 100%;
  display: grid;
  place-items: center;
  height: calc(100dvh - 10rem);
  container-type: inline-size;
}

.ordersList {
  width: 70%;
  max-width: 150rem;
  @include flex(initial, center);
  flex-direction: column;
  container-type: inline-size;

  background-color: var(--backgroundColor);
  gap: 1rem;
  height: 70%;
  overflow-y: auto;
}
.ordersList::before {
  content: 'Orders';
  font-size: 2.4cqi;
  font-weight: bold;
  color: var(--font-color);
}

.order {
  border: 1px solid $primaryOrange;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  animation: appear 500ms forwards ease;
  h1 {
    font-size: 2.4cqi;
    color: var(--font-color);
  }
}

.order h1:last-of-type {
  font-size: 2.8cqi;
}
.orderedProduct {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  img {
    width: 5cqi;

    right: 0;
  }
}

.orderInfo {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 1.8cqi;
    color: var(--font-color);
  }
}

.order h1:last-of-type {
  border-top: 2px solid var(--font-color);
}

.ordersList::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.ordersList::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border-right: 2px solid var(--backgroundColor);
  border-top: 15px solid var(--backgroundColor);
  border-left: 5px solid var(--backgroundColor);
  border-bottom: 10px solid var(--backgroundColor);
  background-color: $primaryOrange;
  visibility: hidden;
}
.ordersList:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

@media screen and (width < 500px) {
  .ordersContainer {
    height: calc(100dvh - 6rem);
  }
  .ordersList {
    width: 90%;
  }
  .ordersList::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .ordersList::before {
    font-size: 6cqi;
  }

  .order {
    h1 {
      font-size: 4cqi;
    }

    img {
      width: 8cqi;
    }
  }
  .orderInfo {
    h2 {
      font-size: 3.6cqi;
    }
  }

  .order h1:last-of-type {
    font-size: 4.6cqi;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (width <920px) and (orientation: landscape) {
  .ordersContainer {
    height: calc(100dvh - 6rem);
  }

  .ordersList {
    height: 90%;
  }
  .ordersList::before {
    font-size: 5cqi;
  }

  .order {
    h1 {
      font-size: 4cqi;
    }

    img {
      width: 8cqi;
    }
  }
  .orderInfo {
    h2 {
      font-size: 3.6cqi;
    }
  }

  .order h1:last-of-type {
    font-size: 4.6cqi;
  }
  .ordersList::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
